body {
    padding: 0px;
    font-family: "Inter", sans-serif;
    margin-top: 110px;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

* {
    box-sizing: border-box
}

header {
    background-color: rgb(245, 245, 245);
    padding-top: 1px;
    padding-bottom: 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 2px #aaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 1
}

header ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

header h2 {
    color: rgb(59, 94, 155)
}

header a {
    text-decoration: none;
    color: rgb(17, 17, 17)
}

#link {
    color:rgb(59, 162, 106)
}

article, section {
    display: block;
    margin: 0px 50px 0px 120px;
    font-size: 20px;
}

article {
    position: relative;  
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    padding: 100px 50px; 
  }
 .article-element {
    width: 50%;
 }
 footer {
    text-align: center;
    background-color: rgb(59, 94, 155);
    color:rgb(245, 245, 245);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 15px;
 }

 